Repository Moeabdelaziz007/ZAA, changes with the owners that CODEOWNERS names for each.
All owners: @cryptojoker710, @frontend-team, @ui-team, @backend-team, @api-team, @qa-team, @docs-team, @devops-team, @security-team, @database-team, @localization-team

تحديث التبعيات إلى إصدارات مستقرة
  frontend/package.json
Owners: @devops-team

Revert "npm(deps-dev): bump @types/node from 20.19.0 to 24.0.1 in /frontend"
  frontend/package.json
Owners: @devops-team

feat(ui): تحديث واجهة المستخدم مع دعم اللون الأخضر النيون
  frontend/components/StaticComponent.tsx
  frontend/pages/loading.tsx
  frontend/pages/welcome.tsx
  package.json
Owners: @ui-team, @frontend-team, @devops-team

fix: resolve package.json conflicts
  frontend/package.json
Owners: @devops-team

Add central theme configuration
  frontend/components/layout/MainLayout.tsx
  frontend/styles/theme.ts
Owners: @ui-team

Add dashboard components and pages
  frontend/components/dashboard/ActivityList.tsx
  frontend/components/dashboard/StatsCard.tsx
  frontend/components/ui/Sidebar.tsx
  frontend/pages/dashboard/analytics.tsx
  frontend/pages/dashboard/overview.tsx
Owners: @ui-team, @frontend-team

refactor: organize auth components
  frontend/components/App.tsx
  frontend/components/auth/AuthPage.tsx
  frontend/pages/auth.tsx
Owners: @ui-team, @frontend-team

Add dashboard components and pages
  frontend/components/dashboard/ActivityList.tsx
  frontend/components/dashboard/StatsCard.tsx
  frontend/components/ui/Sidebar.tsx
  frontend/pages/dashboard/analytics.tsx
  frontend/pages/dashboard/overview.tsx
Owners: @ui-team, @frontend-team

docs: add frontend README and diagram
  docs/frontend-pages.svg
  frontend/README.md
Owners: @docs-team

docs: add frontend README and diagram
  docs/frontend-pages.svg
  frontend/README.md
Owners: @docs-team

Add customizable theme with colors and fonts
  frontend/components/layout/MainLayout.tsx
  frontend/globals.css
  frontend/styles/theme.ts
  frontend/tailwind.config.ts
Owners: @ui-team, @frontend-team, @devops-team

Add customizable theme with colors and fonts
  frontend/components/layout/MainLayout.tsx
  frontend/globals.css
  frontend/styles/theme.ts
  frontend/tailwind.config.ts
Owners: @ui-team, @frontend-team, @devops-team

feat(frontend): add dashboard pages
  frontend/components/dashboard/Cards.tsx
  frontend/components/dashboard/Charts.tsx
  frontend/components/dashboard/StatsWidget.tsx
  frontend/pages/auth.tsx
  frontend/pages/dashboard/analytics.tsx
  frontend/pages/dashboard/overview.tsx
  frontend/pages/welcome.tsx
Owners: @ui-team, @frontend-team

refactor: reorganize auth components
  frontend/components/App.tsx
  frontend/components/auth-page.tsx
  frontend/components/auth/AuthPage.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/components/auth/RegisterForm.tsx
Owners: @ui-team

fix: resolve merge conflicts
  backend/__init__.py
  backend/conftest.py
  backend/tests/unit/__init__.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_calculator_plugin.py
  backend/tests/unit/test_dynamic_skill.py
  backend/tests/unit/test_mindful_embodiment.py
  backend/tests/unit/test_request.py
  backend/tests/unit/test_zero_system.py
  frontend/package.json
  plugin_example.py
Owners: @backend-team, @qa-team, @devops-team, @cryptojoker710

Clean tests and remove merge markers
  backend/__init__.py
  backend/conftest.py
  backend/sss/__init__.py
  backend/tests/unit/__init__.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_api.py
  backend/tests/unit/test_auth.py
  backend/tests/unit/test_calculator.py
  backend/tests/unit/test_calculator_plugin.py
  backend/tests/unit/test_dynamic_skill.py
  backend/tests/unit/test_empathy_detection.py
  backend/tests/unit/test_interaction_logging.py
  backend/tests/unit/test_mindful_embodiment.py
  backend/tests/unit/test_mood_history.py
  backend/tests/unit/test_request.py
  backend/tests/unit/test_zero_system.py
  logger.py
  plugin_example.py
  zero_system.py
Owners: @backend-team, @qa-team, @cryptojoker710

Add framer-motion demo components
  README.md
  frontend/components/ui/animations/SlideIn.tsx
  frontend/components/ui/effects/FadeIn.tsx
Owners: @docs-team, @ui-team

Fix merge conflicts and add UI effects
  README.md
  backend/README.md
  backend/tests/unit/__init__.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_calculator_plugin.py
  backend/tests/unit/test_dynamic_skill.py
  backend/tests/unit/test_mindful_embodiment.py
  backend/tests/unit/test_request.py
  backend/tests/unit/test_zero_system.py
  docs/architecture/architecture.svg
  frontend/README.md
  frontend/components/ui/animations/SlideIn.tsx
  frontend/components/ui/effects/FadeIn.tsx
  frontend/package.json
  frontend/pages/auth.tsx
  frontend/pages/dashboard/analytics.tsx
  frontend/pages/dashboard/overview.tsx
  plugin_example.py
Owners: @docs-team, @qa-team, @ui-team, @devops-team, @frontend-team, @cryptojoker710

fix: resolve merge conflict in backend/__init__.py
  backend/__init__.py
Owners: @backend-team

Apply all changes and small detail improvements
  .github/workflows/ci.yml
  Dockerfile
  frontend/components/FlexLayout.tsx
  frontend/components/GridLayout.tsx
  frontend/components/IconButton.tsx
  frontend/components/OptimizedComponent.tsx
  frontend/components/ProgressiveImage.tsx
  frontend/components/StaticComponent.tsx
  frontend/next.config.mjs
  frontend/pages/index.tsx
  frontend/pages/loading.tsx
Owners: @devops-team, @cryptojoker710, @ui-team, @frontend-team

feat: Added performance optimizations, animations, a11y improvements, and personalization features
  backend/core/database.py
  frontend/components/StaticComponent.tsx
  frontend/components/common/Footer.tsx
  frontend/layout.tsx
  frontend/pages/loading.tsx
  frontend/pages/welcome.tsx
Owners: @database-team, @ui-team, @frontend-team

fix: تحديث إصدارات الحزم وإصلاح مشاكل البناء
  frontend/components/App.tsx
  frontend/package.json
Owners: @ui-team, @devops-team

Add Vercel config for frontend
  vercel.json
Owners: @devops-team

Clean Dockerfile and update docs
  Dockerfile
  README.md
Owners: @cryptojoker710, @docs-team

docs: add Vercel deployment section
  docs/deployment.ar.md
  docs/deployment.md
  vercel.json
Owners: @docs-team, @devops-team

Add Kubernetes deployment configuration
  docs/deployment.md
  k8s/deployment.yml
Owners: @docs-team, @devops-team

chore: remove empty backend pytest config
  README.md
  backend/pytest.ini
  pytest.ini
Owners: @docs-team, @backend-team, @cryptojoker710

CODEOWNERS:

# مالكو الملفات والمجلدات

# المالكون الرئيسيون
* @cryptojoker710

# الواجهة الأمامية
/frontend/ @frontend-team
/frontend/components/ @ui-team
/frontend/pages/ @frontend-team
/frontend/styles/ @ui-team
/frontend/public/ @frontend-team

# الخلفية
/backend/ @backend-team
/backend/api/ @api-team
/backend/core/ @backend-team
/backend/models/ @backend-team
/backend/services/ @backend-team
/backend/tests/ @qa-team

# التوثيق
/docs/ @docs-team
*.md @docs-team

# التكوين
/.github/ @devops-team
/docker/ @devops-team
/nginx/ @devops-team

# الاختبارات
/tests/ @qa-team
/backend/tests/ @qa-team
/frontend/tests/ @qa-team

# الأمان
/backend/core/security.py @security-team
/backend/core/auth.py @security-team
/frontend/utils/auth.ts @security-team

# قاعدة البيانات
/backend/core/database.py @database-team
/backend/migrations/ @database-team

# التصميم
/frontend/components/ui/ @ui-team
/frontend/styles/ @ui-team
/frontend/public/assets/ @ui-team

# الترجمة
/frontend/locales/ @localization-team
/backend/locales/ @localization-team

# الأدوات
/scripts/ @devops-team
/tools/ @devops-team

# ملفات التكوين
*.yml @devops-team
*.yaml @devops-team
*.json @devops-team
*.env* @devops-team
*.config.js @devops-team
*.config.ts @devops-team

# ملفات النظام
.gitignore @devops-team
.editorconfig @devops-team
.prettierrc @devops-team
.eslintrc @devops-team
tsconfig.json @devops-team
package.json @devops-team
requirements.txt @devops-team
